* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/img/train.png");
  background-size: cover;
  background-position: center;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 5rem;
  justify-content: center;
}

div.container div.train-card.delay {
  background-color: #dd9f00;
}

div.container div.train-card.deleted {
  background-color: #cb0707;
}

div.container div.train-card {
  width: calc(33.3333333333% - 2rem);
  margin: 1rem;
  background-color: #001848;
  border-radius: 12px;
  color: white;
  padding: 1rem 0;
}

div.container div.train-card div.train-company {
  text-align: center;
  margin-bottom: 1.5rem;
}

div.container div.train-card div.train-company span.train-company-title {
  text-transform: uppercase;
}

div.container div.train-card div.departure-station {
  margin: 0 2.5rem 1rem 2.5rem;
}

div.container div.train-card div.departure-station span.departure-station-title {
  display: inline-block;
  width: calc(20% - 10px);
  margin-right: 5px;
}

div.container div.train-card div.departure-station span.departure-station-description {
  display: inline-block;
  width: 80%;
  color: black;
  padding: 0.3rem;
  background-color: white;
  border-radius: 6px;
}

div.container div.train-card div.arrival-station {
  margin: 0 2.5rem 1rem 2.5rem;
}

div.container div.train-card div.arrival-station span.arrival-station-title {
  display: inline-block;
  width: calc(20% - 10px);
  margin-right: 5px;
}

div.container div.train-card div.arrival-station span.arrival-station-description {
  display: inline-block;
  width: 80%;
  color: black;
  padding: 0.3rem;
  background-color: white;
  border-radius: 6px;
}

div.container div.train-card div.date.delay {
  background-color: #dfb242;
}

div.container div.train-card div.date.deleted {
  background-color: #d14646;
}

div.container div.train-card div.date {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 1.5rem 0.2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  background-color: #20345E;
  border-radius: 12px;
}

div.container div.train-card div.date div.departure-date {
  width: 50%;
}

div.container div.train-card div.date div.departure-date p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

div.container div.train-card div.date div.arrival-date {
  width: 50%;
}

div.container div.train-card div.date div.arrival-date p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

div.container div.train-card div.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding: 1rem;
}

div.container div.train-card div.details div {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}

div.container div.train-card div.details a.details-button {
  padding: 0.25rem 0.5rem;
  background-color: white;
  color: black;
  border-radius: 12px;
  text-decoration: none;
}

div.container div.pagination-links {
  padding-top: 2rem;
}

div.container div.pagination-links ul {
  display: flex;
  list-style-type: none;
}

div.container div.pagination-links ul a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

div.container div.pagination-links ul span {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

